.active {
  background: transparent !important;
  color: #01070a !important;
  text-decoration: underline;
  text-underline-offset: 7px;
}

li:hover {
  text-decoration: underline;
  text-underline-offset: 7px;
  transition-duration: 500ms;
}
